@import '../../..//node_modules/bootstrap/scss/functions';
@import '../../..//node_modules/bootstrap/scss/variables';
@import '../../../node_modules/bootstrap/scss/mixins';

@font-face {
    font-family: latoRegular;
    src: url(../assets/Fonts/Lato-Regular.ttf);
}

body {
    font-family: latoRegular;
    margin: 0;
    overflow-x: hidden;
}

ul {
    padding: 0;
    margin: 0;
}

a {
    color: $text-primary;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        color: currentColor;
        text-decoration: none;
    }
}

button[disabled] {
    cursor: not-allowed;
}

button:not([disabled]) {
    cursor: pointer;
}



// Utilities

// Fonts
.georgia-font {
    font-family: Georgia, 'Times New Roman', Times, serif !important;
}

.lato-font {
    font-family: latoRegular !important;
}

// Background-color
.bg-light {
    background-color: #BBBBBB !important;
}

.bg-dark {
    background-color: #606060 !important;
}

.color-primary {
    color: $text-primary !important;
}

.color-secondary {
    color: $text-secondary !important;
}

@include media-breakpoint-down(xs) {

    html {
        font-size: 13px;
    }
}