<nav aria-label="breadcrumb">
  <div class="container px-0">
    <ol class="breadcrumb bg-white">
      <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Men</li>
    </ol>
  </div>
</nav>

<div class="container">
    <div class="row men__header">
        <div class="col-12 d-flex flex-column align-items-center">
            <h1 class="text-uppercase">Hoodies & Sweatshirts</h1>
            <a href="#" class="d-block georgia-font"><em>show more &rarr;</em></a>
        </div>
    </div>

    <div class="row men__items">
        <div 
        class="col-12 men__items__item col-md-6 col-lg-3"
        *ngFor="let hoody of hoodies">
            <img [src]="hoody.img" class="mw-100" alt="Hoody">
            <div class="men__items__item__content d-flex flex-column align-items-center">
                <h4>{{hoody.name}}</h4>
                <span class="d-block">&euro; {{hoody.price}}</span>
            </div>
        </div>
        
    </div>

    <div class="row men__header">
        <div class="col-12 d-flex flex-column align-items-center">
            <h1 class="text-uppercase">Jackets & Coats</h1>
            <a href="#" class="d-block georgia-font"><em>show more &rarr;</em></a>
        </div>
    </div>

    <div class="row men__items">
        <div 
        class="col-12 men__items__item col-md-6 col-lg-3"
        *ngFor="let jacket of jackets">
            <img [src]="jacket.img" class="mw-100" alt="jacket">
            <div class="men__items__item__content d-flex flex-column align-items-center">
                <h4>{{jacket.name}}</h4>
                <span class="d-block">&euro; {{jacket.price}}</span>
            </div>
        </div>
        
    </div>
</div>