@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/buttons';
@import '~bootstrap/scss/breadcrumb';
@import '~bootstrap/scss/forms';
@import '~bootstrap/scss/custom-forms';
@import '~bootstrap/scss/alert';
@import "../../../assets/scss/mixins";

input.ng-invalid.ng-touched {
    border: 1px solid $danger;
}

.account {
    @include navbar-fix;
}

.form {

    &__label {
        display: block;
        margin-bottom: 0.7rem;
    }

    &-group {
        margin-bottom: 1.8rem;
        padding: 0 10px;
    }

    button[type=submit] {
        background-color: #F68236;
        border: 1px solid #F68236;
        cursor: pointer;
        width: 40%;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}