@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/breadcrumb';
@import '~bootstrap/scss/buttons';
@import '~bootstrap/scss/button-group';
@import '~bootstrap/scss/dropdown';
@import '~bootstrap/scss/pagination';
@import '~bootstrap/scss/custom-forms';
@import '~bootstrap/scss/utilities/text';
@import '../../assets/scss/mixins';

.category__cont {
  @include navbar-fix;
}

.category {

  &__header {
    h1 {
      font-size: 2.25rem;
    }

    h3 {
      font-size: 1.2rem;
    }
  }

  &__items {
    padding: 3rem 0;

    &__item {
      position: relative;

      svg {
        position: absolute;
        top: 74%;
        left: 84%;
      }
    }
  }

  &__select {
    background: url(../../assets/caret-down.svg) no-repeat;
    background-position: 97% 50%;
    background-size: 14px;
    border: none;
    border-bottom: 1px solid #000000;

  }
}