<nav class="navbar bg-white navbar-expand-lg navbar-light">

  <div class="container">
    <a class="navbar-brand" routerLink="/" routerLinkActive="active">SH</a>
    <button class="navbar-toggler" type="button" (click)="onCollapse()">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div 
    class="collapse navbar-collapse show" 
    id="navbarTogglerDemo01"
    [ngClass]="{collapsed: isCollapsed}">
      <ul class="navbar-nav mr-auto py-3" id="navigation-bar">
        <li class="nav-item dropdown" appDropdown routerLinkActive="active">
          <a class="nav-link" [routerLink]="['categories', 'women']">Woman</a>
          <div class="dropdown-menu" #dropdowns>
            <a href="#" class="dropdown-item">Hoodies & Sweatshirts</a>
            <a href="#" class="dropdown-item">Jeans</a>
            <a href="#" class="dropdown-item">Jackets and Coats</a>
            <a href="#" class="dropdown-item">Sweaters & Cardigans</a>
          </div>
        </li>
        <li class="nav-item dropdown" routerLinkActive="active" appDropdown>
          <a class="nav-link" [routerLink]="['categories', 'men']">Men</a>
          <div class="dropdown-menu">
            <a href="#" class="dropdown-item">Hoodies & Sweatshirts</a>
            <a href="#" class="dropdown-item">Jackets & Coats</a>
            <a href="#" class="dropdown-item">Jeans</a>
            <a href="#" class="dropdown-item">Shoes</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Coming Soon</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
      </ul>
      <ul class="navbar-nav navbar__login py-3">
        <li class="nav-item disable-after mr-4">
          <a class="nav-link d-flex justify-content-center align-items-center" style="cursor: initial">
            <svg xmlns="http://www.w3.org/2000/svg" class="mr-2" width="11.002" height="17.002"
              viewBox="0 0 11.002 17.002">
              <defs>
                <style>
                  .cls-1 {
                    fill: #222;
                  }
                </style>
              </defs>
              <path id="User._Attribute_as_Freepik_from_Flaticon.com"
                data-name="User. Attribute as Freepik from Flaticon.com" class="cls-1"
                d="M1085.525,117.65a4.334,4.334,0,1,0-4.059-4.326A4.2,4.2,0,0,0,1085.525,117.65Zm-3.053-4.732h6.106a3.7,3.7,0,0,1,.037.406,3.1,3.1,0,1,1-6.18,0C1082.436,113.186,1082.458,113.054,1082.472,112.917Zm4.864,4.67a1.878,1.878,0,0,1-3.673,0,5.6,5.6,0,0,0-3.664,5.288V126h11v-3.125A5.6,5.6,0,0,0,1087.336,117.588Z"
                transform="translate(-1079.999 -108.999)" />
            </svg>
            <span class="d-inline-block" *ngIf="isAuthenticated; else login">
              Hi, {{ username }} <a class="text-primary" (click)="logout()">(logout)</a>
            </span>
            <ng-template #login>
              <a (click)="onAuth()">Login</a>
            </ng-template>
          </a>
        </li>
        <li class="nav-item disable-after mr-5">
          <a href="#" class="nav-link d-flex justify-content-center align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="mr-2" width="17" height="17" viewBox="0 0 17 17">
              <path
                d="M17,17H0L1,4H3V6A2.381,2.381,0,0,0,5,8C5.87,8,6,6.747,6,6V4h5V6c0,.747.13,2,1,2a2.381,2.381,0,0,0,2-2V4h2l1,13ZM4.5,5.879a.414.414,0,0,1-.342-.219A1.241,1.241,0,0,1,4,5a5.62,5.62,0,0,1,.088-1A4.822,4.822,0,0,1,9,0c2.114,0,3.584,1.5,3.931,4h0A7.308,7.308,0,0,1,13,5c0,.589-.259.858-.5.858S12,5.59,12,5a6.377,6.377,0,0,0-.078-1C11.777,3.1,11.207,1,9,1A4.235,4.235,0,0,0,5.163,4,3.325,3.325,0,0,0,5,5C5,5.6,4.739,5.879,4.5,5.879Z"
                fill="#222" /></svg> Basket (0)
          </a>
        </li>
        <li class="nav-item d-flex justify-content-center align-items-center disable-after">
          <a href="#" class="nav-link d-flex align-items-center position-relative" style="border: 1px solid #333"
            #search>
            <svg xmlns="http://www.w3.org/2000/svg" width="15.999" height="15.998" viewBox="0 0 15.999 15.998">
              <defs>
                <style>
                  .a {
                    fill: #303030;
                  }
                </style>
              </defs>
              <path class="a"
                d="M9.011,9.93l.946-.936L16,14.6,14.687,16ZM1.539,8.782a5.084,5.084,0,0,1-.025-7.265,5.261,5.261,0,0,1,7.367-.026,5.087,5.087,0,0,1,.347,6.916l-.018.019a4.162,4.162,0,0,1-.768.74,5.264,5.264,0,0,1-6.9-.383Zm.9-6.36a3.813,3.813,0,0,0,.018,5.449,3.944,3.944,0,0,0,5.525-.018A3.816,3.816,0,0,0,7.963,2.4a3.948,3.948,0,0,0-5.525.02Z"
                transform="translate(0 0)" />
            </svg>
          </a>
        </li>
      </ul>
    </div>

  </div>
</nav>