@import '../../assets/scss/variables';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/dropdown';
@import '~bootstrap/scss/forms';

.navbar {
  padding: 2rem 0;

  .navbar-brand {
    background-color: $logo-color;
    color: white;
    padding: .35rem .5rem .5rem;
    margin-right: .6rem;
    position: relative;
  }

  .navbar-nav {

    .dropdown .dropdown-toggle::after {
      border: 0;
    }

    .dropdown-menu {
      opacity: 0;
      transition: opacity .4s;
        
    }

    .dropdown-menu.animate {
        opacity: 1;
    }

    .nav-item:hover, .nav-item.active {

      &::after {
        width: calc(100% - 1.2rem * 2);
      }

    }

    .nav-item.disable-after {

      &::after {
        display: none;
      }
    }

    .nav-item {
      position: relative;

      &::after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background-color: currentColor;
        position: absolute;
        top: 95%;
        left: 50%;
        transform: translateX(-50%);
        transition: all .4s;
      }
    }

    .nav-link {
      color: $text-primary;
      padding: 0 1.2rem;

    }

  }

  &::after {
    content: '';
    display: block;
    background-color: rgba($color: #000000, $alpha: .1);
    height: 1px;
    width: 100%;
    position: absolute;
    top: 100%;
  }

  &__login {

    & > * {
      transition: all 2s;
    }

    .nav-item {

      &__search {
        border: 1px solid #333;
        border-right: none;
        width: 0px;
        opacity: 0;
        transition: width .6s, opacity .6s;

        & + .nav-link {
          height: 100%;
        }

        input {
          border: none;
          font-size: .7rem;
        }
      }

      &__search.active {
          width: 150px;
          opacity: 1;
      }

      .nav-link {
        padding: .4rem .7rem;

        &:hover::after {
          display: none;
        }
      }
    }
  }

    @include media-breakpoint-down(md) {

      .collapse:not(.show) {
        display: block;
      }
  
      .collapse {
        padding: 0;
        overflow: hidden;
        height: 0;
        transition: height 1s, padding .3s;
      }
  
      .collapse.show {
        padding: .6rem 0;
        height: 12.6rem;
      }
  
      .navbar-nav .nav-item::after {
        content: none;
        display: none;
      }
      
      .dropdown .dropdown-menu {
        display: none;
      }
    }



    @include media-breakpoint-down(xs) {
      .collapse.show {
        height: 13.6rem;
      }
    }

}