@import '../../assets/scss/variables';
@import '../../..//node_modules/bootstrap/scss/functions';
@import '../../..//node_modules/bootstrap/scss/variables';
@import '../../../node_modules/bootstrap/scss/mixins';
@import '~bootstrap/scss/dropdown';

.navbar {
  padding: 2rem 0;

  .navbar-brand {
    background-color: $logo-color;
    color: white;
    padding: .35rem .5rem .5rem;
    margin-right: .6rem;
    position: relative;
  }

  .navbar-nav {

    .dropdown .dropdown-toggle::after {
      border: 0;
    }

    .dropdown-menu {
      opacity: 0;
      transition: opacity .4s;
        
    }

    .dropdown-menu.animate {
        opacity: 1;
    }

    .nav-item:hover {

      &::after {
        width: calc(100% - 1.2rem * 2);
      }

    }

    .nav-item {
      position: relative;

      &::after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background-color: currentColor;
        position: absolute;
        top: 95%;
        left: 50%;
        transform: translateX(-50%);
        transition: all .4s;
      }
    }

    .nav-link {
      color: $text-primary;
      padding: 0 1.2rem;

    }

  }

  &::after {
    content: '';
    display: block;
    background-color: rgba($color: #000000, $alpha: .1);
    height: 1px;
    width: 100%;
    position: absolute;
    top: 100%;
  }

  &__login {

    .nav-item {

      .nav-link {
        padding: .4rem .6rem;

        &:hover::after {
          display: none;
        }
      }
    }
  }

    @include media-breakpoint-down(md) {

      .collapse:not(.show) {
        display: block;
      }
  
      .collapse {
        padding: 0;
        overflow: hidden;
        height: 0;
        transition: height 1s, padding .3s;
      }
  
      .collapse.show {
        padding: .6rem 0;
        height: 12.6rem;
      }
  
      .navbar-nav .nav-item::after {
        content: none;
        display: none;
      }
      
      .dropdown .dropdown-menu {
        display: none;
      }
    }



    @include media-breakpoint-down(xs) {
      .collapse.show {
        height: 13.6rem;
      }
    }

}