@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

.home {

  &__carousel {
    overflow: hidden;
    padding: 0;

    &__container {
      transform: translateX(0);
      transition: all .75s;
    }

    &__arrow {
      cursor: pointer;
      position: absolute;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.2);
      width: 2.3rem;
      @include perfect-center;
      z-index: 1000;

      &--right {
        top: 0;
        right: 0;
      }

      // &--left {
      //     left: 15px;
      // }
    }

    &__item {
      min-width: calc(100%/6);
    }
  }
}