<div class="details">
  <nav aria-label="breadcrumb">
    <div class="container px-0">
      <ol class="breadcrumb bg-white">
        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
        <li class="breadcrumb-item" aria-current="page"><a [routerLink]="['/store', gender]">{{ gender | titlecase }}</a></li>
        <li class="breadcrumb-item" aria-current="page"><a [routerLink]="['../']">{{ category | titlecase }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ item.name }}</li>
      </ol>
    </div>
  </nav>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-5 text-center details__img">
        <img style="max-width: 100%;" [src]="replaceLargeImg(item.img)" alt="'item.name'">
      </div>
    </div>

    <div class="row justify-content-center details__desc">
      <div class="col-12 col-sm-6 text-center">
        <h2 class="details__desc__heading">{{ item.name }}</h2>
        <p class="details__desc__price"><em>&euro; {{ item.price }}</em></p>
        <p class="details__desc__content">Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque
          dui, non felis.
          Maecenas malesuada elit lectus felis, malesuada ultricies. </p>
        <h4 class="text-uppercase font-weight-normal mb-3">size</h4>
        <div class="details__desc__size d-flex justify-content-center">
          <div class="details__desc__size__item font-weight-bold" detailSelector (click)="sizeSelected(size)"
            *ngFor="let size of item.size; let i = index"><a class="d-flex align-items-center justify-content-center h-100">{{ size | uppercase }}</a>
          </div>
        </div>
        <h4 class="text-uppercase font-weight-normal mb-3">Color</h4>
        <div class="details__desc__size details__desc__color d-flex justify-content-center">
          <div class="details__desc__size__item font-weight-bold" detailSelector (click)="colorSelected(color)"
            *ngFor="let color of item.color; let i = index" [ngStyle]="{backgroundColor: color}">
              <a class="d-flex align-items-center justify-content-center h-100"></a>
          </div>
        </div>
        <div class="row justify-content-center details__desc__btn mt-5">
          <div class="col-12 col-md-9 col-lg-6 d-flex">
            <button class="btn btn-primary details__desc__btn__cart text-white w-100 mr-2" (click)="addToCart()" [disabled]="size == null || color == null">Add To Cart</button>
            <div class="details__desc__btn__fav d-flex justify-content-center align-items-center">
              <button type="button" class="btn p-0 d-flex">
                <svg xmlns="http://www.w3.org/2000/svg" height="30" width="30" viewBox="0 0 16 16"><path fill="#f05542" d="m -936.69875,909.3642 c -0.88914,-0.047 -1.75905,0.2466 -2.4043,0.8925 -1.29049,1.2919 -1.17491,3.4894 0.25977,4.9258 l 0.51562,0.5156 4.66016,4.6641 4.6582,-4.6641 0.51563,-0.5156 c 1.43474,-1.4364 1.55025,-3.6339 0.25976,-4.9258 -1.29048,-1.2918 -3.48322,-1.1745 -4.91797,0.2618 l -0.51562,0.5175 -0.51758,-0.5175 c -0.71734,-0.7181 -1.62453,-1.1072 -2.51367,-1.1543 z" transform="translate(942 -906.362)"/></svg>
              </button>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="details__suggestions col-12" *ngIf="isCapable">
        <h2 class="text-capitalize text-center font-weight-normal"><em>you may also like</em></h2>
        <app-testimonials [images]="suggestions | suggestionsImages" (onSelectItem)="navigateToItem($event)"></app-testimonials>
        <a class="d-block text-center text-uppercase mt-4" style="text-decoration: underline;"
          [routerLink]="['../']">show me more related clothes</a>
      </div>
    </div>
  </div>
</div>