<div class="home">
  <div class="home__header d-flex justify-content-start align-items-center flex-column mb-5">
    <div class="home__img">
      <picture>
        <source srcset="../../assets/img/Small-Devices/20200103_jhp_clrjeans_sm.jpg" media="(max-width: 767px)">
        <source srcset="../../assets/img/20190909_aehp_jeansjoggers_lg-min.jpg" media="(min-width: 768px)">
        <img src="../../assets/img/20190909_aehp_jeansjoggers_lg.jpg" class="mw-100" alt="Models">
      </picture>
    </div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-10 home__container">
            <h1 class="text-uppercase m-2 home__heading text-center font-weight-normal">hazy<br class="d-block d-sm-none"> shade of spring</h1>
            <h3 class="home__label m-0">Quisque lorem tortor fringilla sed, vestibulum id, eleifend justo.</h3>
            <div class="col-12 home__container__buttons d-flex justify-content-around">
              <button type="button" [routerLink]="['/store/women']" class="home__button d-inline-block btn btn-primary text-uppercase text-white">Women arrivals</button>
              <button type="button" [routerLink]="['/store/men']" class="home__button d-inline-block btn btn-primary text-uppercase text-white">Men arrivals</button>
            </div>
          </div>
      </div>
    </div>
  </div>

  <div class="white-background">

    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="home__grid">
            <div class="home__grid__item home__grid__item--1 lax" data-lax-scale="0 0, 500 1.5">
              <div class="home__grid__item__heading text-center text-white font-weight-bold text-uppercase">
                <h2>Heather</h2>
                <h2>Grey Basics</h2>
                <em class="text-uppercase font-weight-normal mt-2 georgia-font">new arrivals</em>
              </div>
            </div>
            <div class="home__grid__item home__grid__item--2 p-5 text-center text-white">
              <a href="#" class="d-block w-100 logo mb-4"><img src="../../assets/SVG/Layer 31.svg" alt="Twitter"></a>
              <em class="georgia-font">Opening Ceremony @IndonesiaFW tomorrow, PMers! Are you ready for the biggest
                fashion
                movement in Indonesia? #infoPM</em>
            </div>
            <div class="home__grid__item home__grid__item--3">

            </div>
            <div class="home__grid__item home__grid__item--4 bg-dark">
              <img src="../../assets/SVG/Thin Left Down Arrow.svg" class="mb-3" alt="Thin Left Arrow">
              <div class="home__grid__item__heading text-center text-white font-weight-bold text-uppercase">
                <h2>Elegant Shoes</h2>
                <em>Braided Leather</em>
              </div>
            </div>
            <div class="home__grid__item home__grid__item--5">
              <div class="home__grid__item__heading text-center text-white font-weight-bold text-uppercase">
                <h2>Chuck taylors</h2>
                <em>$125.00</em>
              </div>
            </div>
            <div class="home__grid__item home__grid__item--6 p-5 text-center text-white">
              <a href="#" class="d-block w-100 logo mb-4"><img src="../../assets/SVG/Layer 31.svg" alt="Twitter"></a>
              <em class="georgia-font">Girls, Girls, Girls: A Look Back at 50 Years of the Pirelli Calendar
                <span class="d-block mt-3">@Vogue</span>
              </em>
            </div>
            <div class="home__grid__item home__grid__item--7">
              <div class="home__grid__item__heading text-center text-white font-weight-bold text-uppercase">
                <h2>jeans for adventure</h2>
                <em>Braided Leather</em>
              </div>
            </div>
            <div class="home__grid__item home__grid__item--8"></div>
            <div class="home__grid__item home__grid__item--9 bg-dark">
              <img src="../../assets/SVG/Thin Left Down Arrow.svg" class="mb-3" alt="Thin Left Arrow">
              <div class="home__grid__item__heading text-center text-white font-weight-bold text-uppercase">
                <h2>jaxon hat</h2>
                <em>beante hat</em>
              </div>
            </div>
            <div class="home__grid__item home__grid__item--10 bg-light">
              <div class="home__grid__item__heading text-center text-white font-weight-bold text-uppercase">
                <h2>basic blazer</h2>
                <em>from $199.99</em>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row home__subscription">
        <div class="col-12 text-center">
          <h1 class="text-uppercase">sign up to recieve our updates</h1>
          <p class="georgia-font"><em>Nulla ipsum dolor lacus, suscipit adipiscing. Cum sociis natoque penatibus et
              ultrices
              volutpat.</em></p>
          <div class="form-group mt-5 home__subscription__input">
            <input type="text" class="form-control px-2" placeholder="Your E-mail">
            <button type="button" class="btn btn-primary px-4 text-white">Add</button>
          </div>
        </div>
      </div>

      <app-testimonials [images]="testimonials" *ngIf="isCapable"></app-testimonials>
    </div>
  </div>
</div>