@import '../../assets/scss/variables';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/breadcrumb';
@import '~bootstrap/scss/buttons';
@import '../../assets/scss/mixins';

.details {
  @include navbar-fix;

  &__desc {
    h4 {
      color: $text-secondary;
    }

    &__heading {
      font-size: 1.6rem;
      color: $text-primary;
    }

    &__price {
      font-size: 1.2rem;
      color: $text-secondary;
    }

    &__content {
      font-size: 1rem;
      color: $text-secondary;
    }

    &__size {


      &__item {
        width: 2rem;
        height: 2rem;
        border: 1px solid #959595;

        &:not(:last-child) {
          margin-right: .8rem;
        }
      }
    }

    &__btn {

      &__cart {
          padding: .6rem 3rem;
          border-radius: 0;
      }

      &__fav {
        border: 2px solid #F68236;
        width: 20%;
        padding: .5rem .8rem;
      }

    }
  }

  &__suggestions {

    h2 {
        color: $text-secondary;
    }
  }
}