<div class="basket">
  <div class="container">
    <div class="row">
      <div class="col-12 basket__header">
          <h1 class="text-uppercase text-center color-primary mb-3">your shopping bag</h1>
          <h3 class="text-capitalize text-center color-secondary georgia-font font-weight-normal mt-0"><em>items reserved for a limited time only</em></h3>
      </div>

      <app-placeholder *ngIf="!products"></app-placeholder>

      <table class="table col-md-12">
        <thead>
          <tr>
            <th scope="col">Product</th>
            <th scope="col" class="text-left">Description</th>
            <th scope="col">Color</th>
            <th scope="col">Size</th>
            <th scope="col">Qty</th>
            <th scope="col">Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products; let i = index" class="basket__row" appRow>
            <td scope="row"><img [src]="product.img" [alt]="product.name" class="mw-100" height="100px">
            </td>
            <td class="text-left">{{ product.name }}</td>
            <td>{{product.color | titlecase}}</td>
            <td>{{ product.size | uppercase }}</td>
            <td>1</td>
            <td>{{ product.price }}</td>
            <td class="basket__row__close" style="font-weight: bold; cursor: pointer;" (click)="onRemoveProduct(i)">x</td>
          </tr>
        </tbody>
      </table>

      <div class="col-12 d-flex justify-content-center">
        <button type="button" class="btn btn-primary text-white" (click)="saveToBasket()">Save to Basket</button>
      </div>
    </div>

    <app-shipping></app-shipping>
  </div>
</div>